In [5]:

for i in range(1,6):
    print(i*str(i))

1
22
333
4444
55555

In [2]:
row=5
for row in range(1,row+1):
    for column in range(1,row+1):
        print(column,end="")
    print("")

1
12
123
1234
12345

In [3]:
rows=6
for num in range(rows):
    for i in range(num):
        print(num,end="")
    print("")

1
22
333
4444
55555

In [11]:
for a in range(1,5):
    print(a)

1
2
3
4

In [20]:
for a in range(1,6):
     for j in range(1,6):
            print(a,j,end="")
     print("\n")

1 11 21 31 41 5

2 12 22 32 42 5

3 13 23 33 43 5

4 14 24 34 44 5

5 15 25 35 45 5

In [28]:
for a in range(1,6):
    for j in range(1,6):
            print(a,j,end="\t")
    print("\t")

1 1	1 2	1 3	1 4	1 5
2 1	2 2	2 3	2 4	2 5
3 1	3 2	3 3	3 4	3 5
4 1	4 2	4 3	4 4	4 5
5 1	5 2	5 3	5 4	5 5

In [1]:
rows=6
for num in range(rows):
    for i in range(num):
        print("*",end="")
    print("")

*
**
***
****
*****